@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* ## Colors */

  /* ### Primary */

  --tomato: hsl(4, 100%, 67%);
  --tomato-light: hsla(4, 100%, 67%, 0.15);

  /* ### Neutral */

  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);

  /* ## Typography */

  /* ### Body Copy */
  --font-roboto: "Roboto", sans-serif;
  --font-size-paragraph: 16px;
}

input, textarea{
  font-family: var(--font-roboto);
  font-weight: 700;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--charcoal-grey);
  font-family: var(--font-roboto);
  padding: 1rem;
  color: var(--dark-slate-grey);
}

@media screen and (max-width: 662px) {
  body{
    padding: 0;
    display: block;
  }
}

h1{
  font-size: 48px;
}

.card{
  background-color: var(--White);
  padding: 2rem;
  border-radius: 2rem;
}

@media screen and (max-width: 662px) {
  .card{
    padding: 0;
    border-radius: 0;
    padding-bottom: 1.5rem;
  }
}

.card__success{
  max-width: 400px;
}

@media screen and (max-width: 662px) {
  .card__success{
    max-width: unset;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: unset;
  }
}


.card__success--inner img,
.card__success--inner h1,
.card__success--inner p
{
  margin-bottom: 1rem;
}
.card__inner{
  display: flex;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 662px) {
  .card__inner{
    flex-direction: column-reverse;
  }

  .card__inner .right{
    width: 100%;
    
  }
}

.card__inner .right img{
  width: 100%;
  max-width: 380px;
}

.card__inner .left {
  max-width: 380px;
  padding: 1.5rem;
}

@media screen and (max-width: 662px) {
  .card__inner .right img{
    max-width: unset;
  }
  .card__inner .left {
    padding: 0 1rem;
    max-width: unset;
  }  
}

.card__inner .left h1{
  margin-bottom: 1rem;
}

.card__copy {
  margin-bottom: 1rem;
  line-height: 150%;
}
.card__copy--list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.85rem;
}
.card__copy--list p::before{
  content: '';
  background-image: url(./assets/images/icon-list.svg);
  display: block;
  background-repeat: no-repeat;
  height: 28px;
  width: 28px;
}
.card__copy--list p{
  display: flex;
  gap: 1rem;
}

.card__inner .left ul {
  list-style: none;
}

.card__form{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.card__form label {
  font-size: 0.68rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}


.card__form input[type="button"], 
.card__form input[type="text"]{
  padding: 0.75rem 1rem;
  border-radius: 0.4rem;
  border: none;
}

.card__form input[type="text"]{
  border: 1px solid var(--grey);
}

.card__form input[type="button"]{
  background: var(--dark-slate-grey);
  color: var(--White);
  cursor: pointer;
  transition: all .3s;
}
.card__form input[type="button"]:hover{
  background: linear-gradient(to right, var(--tomato), orange);
  color: var(--White);
  cursor: pointer;
  transition: all .3s;
  box-shadow: 2px 4px 25px var(--tomato);
}


.error__input, .error_label{
  color: var(--tomato);
}


.card__form input[type="text"].error__input{
  border: 1px solid var(--tomato);
  background: var(--tomato-light);
}
